    <div class="container">
      <div class="row navbar-grey" style="height: 41px;">
          <div class="col-md-10">
            <div style="position: relative; top: 8px;"><span class="node-headline-big">&nbsp;{{ escape(node['server_name']) }} </span><span>({{ escape(node['server_type']) }})</span></div>
            <!--
            ({{ escape(node['server_type']) }})
            class="navbar navbar-default"
            class="label label-default"
            -->
          </div>
          <div class="col-md-2">
            <div class="btn-group" style="position: relative; left: 78px;">
              <a class="btn btn-default" data-toggle="dropdown" href="#">Action</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" onClick="confirmRestartGambolPuttyService('{{ escape(node['server_name']) }}')"><i class="fa fa-rotate-right pull-left icon"></i><span>&nbsp;Restart</span></a>
                </li>
                <!--
                <li>
                  <a href="#" onClick="confirmRestartGambolPuttyService('{{ escape(node['server_name']) }}')"><i class="fa fa-stop pull-left icon"></i><span>&nbsp;Stop</span></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pause pull-left icon"></i><span>&nbsp;Pause</span></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cogs pull-left icon"></i><span>&nbsp;Test-Mode</span></a>
                </li>
                -->
              </ul>
            </div>
          </div>
      </div>
      <div class="row node-info-body">
        <div class="col-md-4 invisible" id="{{ escape(node['server_name']) }}_sysinfo">
          <h4 class="node-body-heading"><span>System information:</span></h4>
          <h5 title="CPUs" alt="CPUs"><i class="fa fa-th-large pull-left icon"></i><span id="{{ escape(node['server_name']) }}_cpus"></span></h5>
          <h5 title="RAM" alt="RAM"><i class="fa fa-tasks pull-left"></i><span id="{{ escape(node['server_name']) }}_ram"></span></h5>
          <h5 title="Systemload" alt="Systemload"><i class="fa fa-tachometer pull-left"></i><span id="{{ escape(node['server_name']) }}_load"></span></h5>
          <div  title="HDDs" alt="HDDs" id="{{ escape(node['server_name']) }}_hdds"></div>
        </div>
        <div class="col-md-8 terminal pull-right" id="{{ escape(node['server_name']) }}_log">
        </div>
      </div><br>
    </div>