<!doctype html>

<html>
  
  <head>
    <title>{{ escape(page_title) }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/gambolputty_web.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/bootbox.js"></script>
    <script type="text/javascript" src="js/gambolputty_web.js"></script>
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">GambolPutty</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Overview</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="padding: 10px 20px 0px 20px">
        <div class="col-md-12">
          <div class="navbar navbar-default">
            <span class="label label-default"><h4 class="pull-left clearfix">{{ escape(server_name) }}</h4>({{ escape(server_type) }})</span>
            <div class="btn-group pull-right">
              <a class="btn btn-default" data-toggle="dropdown" href="#">Action</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">    <span class="caret"></span>  </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" onClick="confirmRestartGambolPuttyService('{{ escape(server_name) }}')"><i class="fa fa-stop pull-left icon"></i><span>&nbsp;Stop</span></a>
                </li>
                <li>
                  <a href="#" onClick="confirmRestartGambolPuttyService('{{ escape(server_name) }}')"><i class="fa fa-rotate-right pull-left icon"></i><span>&nbsp;Restart</span></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pause pull-left icon"></i><span>&nbsp;Pause</span></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cogs pull-left icon"></i><span>&nbsp;Test-Mode</span></a>
                </li>
              </ul>
            </div>
            <div class="container">
              <div class="navbar-header"></div>
            </div>
          </div>
        </div>
      </div>
      {% module ServerListItem(server_name) %}
    </div>
  </body>

</html>