# Global requirements
crypto
pylru
PyYAML
redis
simplekv
tornado
# Temporary disabled.
pyzmq

# ElasticSearchSink
elasticsearch

# ModifyFields
mmh3

# MsgPackParser
msgpack-python

# AddGeoInfo
pygeoip

# UserAgentParser
ua-parser

# XPathParser
lxml

# Kafka input/output
kafka-python

# Sniffer, disabled.
# pcapy
# netifaces

# AddDnsLookup
dnspython

# AWS Services
boto3

# WebGui
Pygments

# Tests requirements.
unittest2
mock
coverage