# Global requirements
crypto
pylru
PyYAML
redis
simplekv
tornado
pyzmq

# ElasticSearchSink
elasticsearch>=2.1.0

# ModifyFields
mmh3

# MsgPackParser
msgpack-python

# AddGeoInfo
pygeoip

# UserAgentParser
ua-parser

# XPathParser
# Need to switch to another parser, lxml seems to be incompatible with pypy4.
#lxml

# Kafka input/output
kafka-python

# Sniffer, disabled.
# pcapy
# netifaces

# AddDnsLookup
dnspython

# AWS Services
boto3

# WebGui
Pygments
