# Global requirements
importlib
crypto>=1.0.0
pylru>=1.0.0
PyYAML>=2.0.0
redis>=1.0.0
simplekv>=0.5.0
tornado>=3.0.0
pyzmq>=10.0.0

# ElasticSearchSink
elasticsearch>=2.1.0

# ModifyFields
mmh3>=2.0.0

# MsgPackParser
msgpack-python>=0.4.0

# AddGeoInfo
pygeoip>=0.3.0

# UserAgentParser
ua-parser>=0.5.0

# XPathParser
# Need to switch to another parser, lxml seems to be incompatible with pypy4.
#lxml

# Kafka input/output
kafka-python>=0.8.0

# Sniffer, disabled.
# pcapy
# netifaces

# AddDnsLookup
dnspython>=1.0.0

# DomainNameParser
tld>=0.5.0

# MongoDbSink
pymongo>=3.0.0

# AWS Services
boto3>=1.1.0

# File
glob2>=0.3

# WebGui
Pygments>=2.0.0

# Tests requirements.
unittest2
mock
coverage