# A handler for stin, just for testing purposes
#- module: StdInHandler
#  receivers:
#    - RegexParser

# A simple TCP Server 
- module: TcpServerThreaded
  configuration:
    interface: localhost
    port: 5152
  receivers: 
    - RegexParser

# Parse the messege using named regex patterns.
# The named groups will be put into correspondig fields in the data dictionary
- module: RegexParser
  configuration:
    field-extraction-patterns:
      httpd_access_log: '(?P<log_timestamp>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<host>[\w\-\._]+)\s+(apache2|nginx): httpd\[(?P<pid>\d+)\]\s+(?P<virtual_host_name>.*)\s+(?P<remote_ip>\d+\.\d+\.\d+\.\d+)\s+(?P<request_time>[\d\.]+)\s+\"(?P<http_method>GET|POST)\s+(?P<uri>.*)\"\s+(?P<http_status>-|\d+)\s+(?P<bytes_sent>-|\d+)\s+(?P<cookie_sid>\S+)\s+(?P<cookie_unique_id>\S+)\s+\"(?P<referer>.*)\"\s+\"(?P<user_agent>.*)\"'
      httpd_log_phperrors: '(?P<log_timestamp>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<host>[\w\-\._]+)\s+httpd\[(?P<pid>\d+)\]:?\s(\[(?P<status>\w+)\]\s+)?\[client\s+(?P<remote_ip>\d+\.\d+\.\d+\.\d+)\]\s+PHP (?P<php_error_type>Warning|Notice|Fatal error):\s+(?P<php_error_message>.*)'
      php_fpm_log_errors: '(?P<log_timestamp>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<host>[\w\-\._]+)\s+php-fpm\[(?P<pid>\d+)\]:?\s\[(?P<php_error_type>\w+)\]\s+\[pool\s(?P<php_fpm_poolname>[\w\-\._\s]+)\]\s+(?P<php_error_message>.*)'
      httpd_log_errors: '(?P<log_timestamp>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<host>[\w\-\._]+)\s+httpd\[(?P<pid>\d+)\]:?\s\[(?P<status>\w+)\]\s+\[client\s+(?P<remote_ip>\d+\.\d+\.\d+\.\d+)\]\s+(?P<httpd_error_message>.*)'
      http_common_access_log: '(?P<remote_ip>\d+\.\d+\.\d+\.\d+)\s(?P<x_forwarded_for>\d+\.\d+\.\d+\.\d+)\s(?P<identd>\w+|-)\s(?P<user>\w+|-)\s\[(?P<datetime>\d+\/\w+\/\d+:\d+:\d+:\d+\s.\d+)\]\s\"(?P<url>.*)\"\s(?P<http_status>\d+)\s(?P<bytes_send>\d+)'
  receivers:
    # Only messages that matched a regex will be send to this handler
    - ModuleContainer:
        filter: event_type != 'unknown'
    # Print out messages that did not match
    - StdOutHandler:
        filter: event_type == 'unknown'

# Normal handlers will always run in their own thread and need an input and output queue.
# To avoid this overhead for simple tasks, wrap them up in a container.
- module: ModuleContainer
  configuration:
    # Add a timestamp field
    - module: AddDateTime
    # Add geo info based on the lookup_fields. The first field in the that yields a result from geoip will be used.
    - module: AddGeoInfo
      configuration:
        geoip-dat-path: /usr/share/GeoIP/GeoIP.dat
        source-fields: [x_forwarded_for, remote_ip]
  receivers:
    - ElasticSearchOutput
    - Statistics

# Add messages to ES
- module: ElasticSearchOutput
  pool-size: 4
  configuration:
    nodes: ["localhost:9200"]
    index-prefix: test-
    store-data-interval: 25
    store-data-idle: 1

- module: Statistics

- module: StdOutHandler
